<div class ="n">
    <br>
    <br>

  
    <button mat-raised-button routerLink="/lsi-mass"color="primary">CT - LSI </button><br/><br/>
    <button mat-raised-button routerLink="/ct-mass-balance" color="primary">CT Mass Balance</button><br/><br/>
    <button mat-raised-button routerLink="/ct-bio" color="primary">CT Feed - Biocide </button><br/><br/>
    <button mat-raised-button routerLink="/ct-prop" color="primary">CT Feed - Proportional Metered Makeup</button><br/><br/>
    <button mat-raised-button routerLink="/ct-bleed" color="primary">CT Feed - Proportional Metered blowdown</button><br/><br/>
    <button mat-raised-button routerLink="/ct-timer" color="primary">CT % Timer</button><br/><br/>
    <button mat-raised-button routerLink="/ct-bleed-feed" color="primary">CT Feed - Bleed and Feed settins</button><br/><br/>
    </div>
    