<div class= "inputdata">
<h2><b>Mass Balance</b> </h2>
<h4>System Data</h4>
    <mat-form-field appearance="outline">
      <mat-label>Cooling System Type</mat-label>
      <mat-select [(ngModel)]="CST" (selectionChange)="FUN1()">
        <mat-option *ngFor = "let item of SystemsList" [value]="item.SystemType">{{item.SystemType}}</mat-option>
        </mat-select>
    </mat-form-field><br/>

  <mat-form-field appearance="outline">
    <mat-label>{{sType}}   </mat-label>
    <input matInput type="number" [(ngModel)]="RR" (change)="FUN1()" >
  </mat-form-field> 

  <mat-form-field appearance="outline">
    <mat-label>{{LFactor}}   </mat-label>
    <input matInput type="number" [(ngModel)]="ADT" (change)="FUN1()" >
  </mat-form-field> 

  <mat-form-field appearance="outline">
    <mat-label>Hours per Day Operation    </mat-label>
    <input matInput type="number" [(ngModel)]="HPD" (change)="FUN1()" >
  </mat-form-field> 

  <mat-form-field appearance="outline">
    <mat-label>Days per Week Operation    </mat-label>
    <input matInput type="number" [(ngModel)]="DPWO" (change)="FUN1()" >
  </mat-form-field> 
  
  <mat-form-field appearance="outline">
    <mat-label>Weeks per Year Operation    </mat-label>
    <input matInput type="number" [(ngModel)]="WPYO" (change)="FUN1()" >
  </mat-form-field>   
  <mat-form-field appearance="outline">
    <mat-label>System Volume(Gal)  </mat-label>
    <input matInput type="number" [(ngModel)]="SVG" (change)="FUN1()" >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Water  Cost ($/1000 Gal)    </mat-label>
    <input matInput type="number" [(ngModel)]="WCD" (change)="FUN1()" >
  </mat-form-field>   
  <mat-form-field appearance="outline">
    <mat-label>Sewer Cost ($/1000 Gal)</mat-label>
    <input matInput type="number" [(ngModel)]="SCD" (change)="FUN1()" >
  </mat-form-field> 
  <mat-form-field appearance="outline">
    <mat-label>Target Tower Cycles</mat-label>
    <input matInput type="number" [(ngModel)]="TTCY" (change)="FUN1()" >
  </mat-form-field>
  <h3>Half Life (Hours):  <b>{{HL}}</b>
  </h3>      
    
  <h2>Mass Balance</h2>

  <h3>Evaporation (Gallons/Day): <b>{{ER}}</b>
</h3>
  <h3>
    Blowdown (Gallons/Day):  <b>{{BLD}}</b>
  </h3>
  <h3>
    Makeup (Gallons/Day):  <b>{{MKP}}</b>
  </h3>
  <h3>
    Makeup Water Cost ($/Day):  <b>{{MWC}}</b>
  </h3>
  <h3>
    Evaporation Credit ($/Day): <b>{{ECD}}</b>
  </h3>
  <h3>
    Evaporation (Gallons/Year): <b>{{EVY}}</b>
  </h3>
  <h3>
    Blowdown (Gallons/Year):  <b>{{BLY}}</b>
  </h3>
  <h3>Makeup (Gallons/Year):	 <b>{{MKY}}</b>
</h3>
<h3>Makeup Water Cost ($/Year):	 <b>{{MWCY}}</b>
</h3>
<h3>Evaporation Credit ($/Year):  <b>{{ECY}}</b>
</h3>     
</div>  
  
  